<div style="width: 100vw; height: 100vh; display: flex; flex-direction: column; align-items: center; overflow-y: scroll; overflow-x: hidden;">

  <!-- Render Charts ---------------------------------------------------------->
  <h1 style="margin: 0px;">COUNT(*) Charts</h1>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
    {% for chart in charts %}
    <div style="border: 1px solid #dddddd; border-radius: 5px; display: flex; justify-content: flex-end; align-items: center; width: 700px; margin: 5px;">
      <img src="data:image/png;base64, {{ chart['url'] }}" style="margin: 5px 0px;">
    </div>
    {% endfor %}
  </div>
</div>
